/* == wiky == */
*.wiki blockquote { 
	background:#ddd; 
	border:solid 1px #999; 
	margin-left:1em; 
	padding:0.5em;
}
*.wiki table {
  border-collapse: collapse;
  empty-cells: show;
}

*.wiki table td {
  border: solid 1px black;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: center;
}

pre {
	font-family:courier new, monospace; 
	overflow:auto;
	white-space: pre-wrap;
	word-break: normal; 
}
