.card-header {
	background-color: #3f51b5;
	color: white;
}
.calendar {
    display: block;
    margin: 4px;
    padding: 4px;
	background-color: var(--divider-color);    
}
.calendar table {
    width: 100%;
    border-collapse: collapse; 
}
.calendar-week-day {
	font-size:11px;
	margin: 3px;
}
.calendar-day-selected {
	font-size:11px;
	margin: 3px;
	background-color: #3f51b5;
	color:white;
}
.calendar-day-in-range {
	font-size:11px;
	margin: 3px;
	color:black;
}
.calendar-day-out-of-range {
	font-size:11px;
	margin: 3px;
	color:darkgray;
}
