paper-material {
  border-radius: 0 0 2px 2px;
  width: 100%;
  margin-top: 2px;
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: var(--portal-autocomplete-input-results-layer-max-height);
  background-color:white;
  z-index:1200;
}
.iron-selected:not(paper-input-container) {
  background: var(--portal-autocomplete-input-result-selected-background, --paper-indigo-50);
}
paper-item {
    min-height:35px;
}
paper-item[pressed] {
  @apply(--portal-autocomplete-input-result-pressed);
}
paper-item:not(:last-of-type) {
  border-bottom: solid 1px var(--portal-autocomplete-input-divider-color, --divider-color);
}
paper-item:focus:before {
  display: none;
}
