.itable { 
	border: 1px solid gray; 
}

.itable tr.header th { 
	text-align: left; 
}

.itable tr.alt { 
	background-color: #eff7ff; 
}

.itable tr.reg { 
	background-color: #fff; 
}

.itable th { 
	background: url(blue_hd_bg.png) top left repeat-x; 
	border-right: 1px solid grey; 
	font-size:15px;
}

.itable th:last-child { 
	border-right: none; 
}

.itable td { 
	border-right: 1px solid gray; 
	font-weight:normal;
	font-size:15px;
}

.itable tr:first-child { 
	white-space: nowrap; 
}

.itable tr:last-child { 
	border-right: none; 
}

body > .toolbar {
  height:auto;
  min-height:20px;
}

body > div.toolbar > div > a {
  display:inline;
  color:white;
  text-decoration:none;
}

.row  {
    text-align: left;
}

.panel > fieldset {
    font-size: 15px;
    color: grey;
}

.valueL {
    padding: 12px 10px 0 150px;
}
