<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openMDX ~ Ant (jre-1.5)/src/java/org/openmdx/test/tools/ant/TestAdaptiveInputStreamReader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openmdx.test.tools.ant.TestAdaptiveInputStreamReader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openMDX ~ Ant (jre-1.5)"/>
</launchConfiguration>
