/* FONT definitions */
*, * td {
font-family: "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif;
font-size: 12px;
}

td {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
p {
  padding-top: 1px;
}
div {
  padding:0px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.browserHints {
  border-collapse: collapse;
  border-style: ridge;
  border-width: 2px;
}
.browserHints td {
  border-style: ridge;
  border-width: 2px;
  padding: 1px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.activeXHints {
  border-collapse: collapse;
  border-style: ridge;
  border-width: 2px;
}
.activeXHints td {
  border-style: ridge;
  border-width: 2px;
  padding: 1px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.tablePanel {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  vertical-align: absbottom;
 }
.tablePanel td {
  vertical-align: absbottom;
  padding: 0px 4px 0px 2px;
}
.tableInfo {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
 }
.tablePanelTitle {
  width: 100%;
 }
.tableLayout {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  vertical-align: top;
 }
.tableLayout td {
  vertical-align: top;
  padding: 0px 1px 0px 1px;
}
.tableError {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
 }
.tableError td {
 padding: 5px;
}
.cellErrorLeft {
  font-weight: bold;
  vertical-align: top;
}
.cellErrorRight {
  vertical-align: top;
}
.tableLogin {
  border-collapse: collapse;
  vertical-align: middle;
}
.tableLogin td {
  padding: 5px;
  vertical-align: middle;
}
td.cellLogin {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 200px;
  vertical-align: middle;
  padding: 5px 50px 5px 50px;
}

.tableBreadCrum {
  border-collapse: collapse;
  width: 100%;
  border-width: 0px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: smaller;
}
.tableBreadCrum td {
	padding-left: 6px;
}
.tableBreadCrum a {
	font-weight: bold;
  font-size: smaller;
}
a.error {
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  margin-top: 2px;
  margin-left: 5px;
  padding: 2px 0.5em 2px 0.5em;
  font-weight: bold;
  white-space: nowrap;
}
.cellHistory {
  border-collapse: collapse;
  vertical-align: top;
  width: 178px;
  white-space: nowrap;
  overflow: hidden;
}
.cellHistory td {
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 10px;
}
.cellHistory td a {
  font-size: 10px;
}
.historyEntry {
  width: 175px;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.cellObject {
  vertical-align: top;
  line-height: 20px;
}
.cellObject p {
  margin-left: 0px;
  margin-top: 10px;
}
.objectTitle {
  border-collapse: collapse;
  width: 100%;
  border-width: 0px;
  border-style: solid;
  margin-top:7px;
  margin-bottom:5px;
  line-height: 1.1em;
  font-size: larger;
}
.objectTitle td {
  padding: 2px 0px 0px 0px;
	vertical-align: top;
	font-weight: bold;
	font-size: larger;
}
.objectTitle div {
  padding: 0px 0px 1px 0px;
	font-weight: bold;
	font-size: larger;
}
.attributeTitle {
	width: 100%;
	border: solid 1px;
    line-height: 1.1em;
	padding-left: 8px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.attributeTitle td {
	vertical-align: middle;
	font-weight: bold;
}
.attributeValue {
  white-space: normal;
  word-wrap: normal;
  width: 100%;
  vertical-align: middle;
  overflow: visible;
}

.cellGrid {
  line-height: 20px;
  vertical-align: top;
  margin-top: 10px;
  padding: 5px 0px 0px 0px;
}

a.op {
  border-width: 1px;
  border-style: solid;
  padding: 0px 2px 2px 0px;
  white-space: nowrap;
}
a.ophover {
  border-width: 1px;
  border-style: solid;
  padding: 0px 2px 2px 0px;
  white-space: nowrap;
}
input.op {
  border-width: 1px;
  border-style: solid;
  padding: 0px;
  white-space: nowrap;
}
input.ophover {
  border-width: 1px;
  border-style: solid;
  padding: 0px;
  white-space: nowrap;
  cursor: pointer;
}

a.new {
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  padding: 0px 2px 2px 0px;
  white-space: nowrap;
}
a.backButton {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  padding: 0px 0px 1px 0px;
  white-space: nowrap;
  margin-right: 5px;
  vertical-align: top;
}
a.backButton:hover {
  text-decoration: none;
}
a.noIcon {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  margin-left: 1px;
  white-space: nowrap;
}
a.noIcon:hover {
  cursor: pointer;
}
a.noIconhover {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  margin-left: 1px;
  white-space: nowrap;
  cursor: pointer;
}
.noIcon {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px;
  white-space: nowrap;
}
.noIcon:hover {
  cursor: pointer;
}
.noIconhover {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px;
  white-space: nowrap;
  cursor: pointer;
}
.flatButton {
  padding-top: 10px;
  padding-bottom: 10px;
}

input.flatsubmit {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  white-space: nowrap;
}
input.flatsubmit:hover {
  cursor: pointer;
}
input.flatsubmithover {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  white-space: nowrap;
  cursor: pointer;
}
input.selflatsubmit {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  white-space: nowrap;
}
input.selflatsubmit:hover {
  cursor: pointer;
}
input.selflatsubmithover {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  white-space: nowrap;
  cursor: pointer;
}
input.classsubmit {
  border-style: solid;
  border-width: 0px;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 2px;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}
input.classsubmit:hover {
  cursor: pointer;
}
input.classsubmithover { /* IE :hover workaround */
  border-style: solid;
  border-width: 0px;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 2px;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}
.borderedimg {
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  margin-left: 1px;
  vertical-align: middle;
}
.borderedimg:hover {
  cursor: pointer;
}
.borderedimghover {
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  margin-left: 1px;
  vertical-align: middle;
  cursor: pointer;
}
.buttonimg {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  margin-left: 1px;
  margin-right: -1px;
  width: 12px;
  font-size: 2px;
  vertical-align: middle;
}
.buttonimg:hover {
  cursor: pointer;
}
.buttonimghover {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  margin-left: 1px;
  margin-right: -1px;
  width: 12px;
  font-size: 2px;
  vertical-align: middle;
  cursor: pointer;
}
.filterHeader {
  border-collapse: collapse;
  overflow: visible;
  margin-bottom: 1px;
}
.filterHeader tr td {
  border: 0px none #FFFFFF;
}
.filterCell {
  width: 100%;
}
.filterCellhover {
  width: 100%;
  cursor: pointer;
  margin-top: 0px;
}
.textfilter {
  padding-left: 1px;
}
.imgfilter {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}
.imgfilterhover { /* IE :hover workaround */
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  cursor: pointer;
}
.selimgfilter {
  border-style: solid;
  border-width: 1px 0px 0px 1px;
}
.selimgfilterhover { /* IE :hover workaround */
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  cursor: pointer;
}
.imgsubmit {
  border-collapse: collapse;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
}
input.imgsubmit:hover {
  cursor: pointer;
}
input.imgsubmithover { /* IE :hover workaround */
  border-collapse: collapse;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  cursor: pointer;
}
input.selimgsubmit {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  white-space: nowrap;
}
input.selimgsubmit:hover {
  cursor: pointer;
}
input.selimgsubmithover { /* IE :hover workaround */
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  white-space: nowrap;
  cursor: pointer;
}

.panel {
  border-style: solid;
  border-width: 1px;
  width: 99%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 6px;
  line-height: normal;
  overflow: hidden; /*required by Netscape/Mozilla*/
}

.opPanel {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  width: 99%;
  padding-left: 2px;
  padding-right: 2px;
  margin-left:1px;
  margin-right:5px;
  overflow: visible; /*required by Netscape/Mozilla*/
  position: absolute;
  visibility: hidden;
  height:0px;
  z-index: 20;
}

.panelResult {
  border-style: solid;
  border-width: 1px;
  width: 99%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  margin-bottom: 2px;
  overflow: hidden; /*required by Netscape/Mozilla*/
  position: relative;
  z-index: 20;
}
.panelJSWarning {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden; /*required by Netscape/Mozilla*/
  position: relative;
  z-index: 20;
}
.panelCookieWarning {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden; /*required by Netscape/Mozilla*/
  position: relative;
  z-index: 20;
}
.opButton {
  padding: 5px 1px 2px 0px;
  margin-bottom: -2px;
}
a.opTab {
  text-decoration: none;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  padding: 0px 2px 2px 0px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}
a.opTabhover {
  text-decoration: none;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  padding: 0px 2px 2px 0px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}
a.SopTab {
  text-decoration: none;
  border-style: solid solid none solid;
  border-width: 1px 1px 0px 1px;
  padding: 0px 4px 6px 2px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  z-index: 20;
  cursor: default;
}
a.tab {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 1px 1px 1px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  top: -2px;
}
a.tabhover {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 1px 1px 1px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  top: -2px;
}
a.Stab {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 4px 4px 4px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  z-index: 20;
  top: -2px;
  cursor: default;
}

a.groupTab {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid solid none solid;
  border-width: 1px 1px 1px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 1px 0px 1px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  top: -2px;
}
a.groupTab:hover {
  text-decoration: none;
}
a.groupTabhover {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid solid none solid;
  border-width: 1px 1px 1px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 1px 0px 1px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  top: -2px;
}
a.SgroupTab {
  text-decoration: none;
  border-collapse: collapse;
  border-style: solid solid none solid;
  border-width: 1px 1px 1px 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 4px 4px 4px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  z-index: 20;
  top: -2px;
  cursor: default;
}
a.SgroupTab:hover {
  text-decoration: none;
}
div.groupTab {
  text-decoration: none;
  width: 85%;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 1px 0px 1px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
div.groupTab:hover {
  text-decoration: none;
}
div.groupTabhover {
  text-decoration: none;
  width: 85%;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 1px 0px 1px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
div.SgroupTab {
  text-decoration: none;
  width: 85%;
  border-style: solid solid none solid;
  border-width: 1px 1px 1px 1px;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 1px 0px 1px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 20;
}
div.SgroupTab:hover {
  text-decoration: none;
}
div.SgroupTabhover {
  text-decoration: none;
  width: 85%;
  border-style: solid solid none solid;
  border-width: 1px 1px 5px 1px;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 1px 0px 1px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 20;
}
.filterPanel {
  border-style: none;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden; /*required by Netscape/Mozilla*/
  z-index: 20;
}

.gridBlock {
  margin-top:-5px;
  line-height: normal;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  overflow: auto;
}

.gridBlock td {
  padding-bottom: 5px;
}

.gridNavigation {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  vertical-align: baseline;
  margin-bottom: -2px;
  /*
  table-layout: fixed;
  */
}

.gridTable {
  /*
  table-layout: fixed;
  */
  white-space: nowrap;
}
.gridTableFull {
  table-layout: auto;
  white-space: normal;
}
.gridTableFullEdit {
  table-layout: auto;
  white-space: normal;
}
.gridTable, .gridTableFull, .gridTableFullEdit {
  text-align: left;
  border-collapse: collapse;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100%;
  vertical-align: baseline;
  margin-top: 0px;
  margin-bottom: 5px;
}
.gridTableHeader td {
  white-space: nowrap;
}
.gridTableHeaderFull td, .gridTableHeaderFullEdit td {
  white-space: normal;
}
.gridTableHeader, .gridTableHeaderFull, .gridTableHeaderFullEdit {
  text-align: left;
  font-weight: bold;
}
.gridTableHeader td, .gridTableHeaderFull td, .gridTableHeaderFullEdit td {
  vertical-align: top;
  border-style: none none solid none;
  border-width: 1px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.gridTableHeader div, .gridTableHeaderFull div, .gridTableHeaderFullEdit div {
/* uncomment this to fix the font size
  font-size: 12px;
*/
  border-width: 0px;
}
.gridTableRow, .gridTableRow td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gridTableRowFull, .gridTableRowFull td {
  white-space: normal;
  overflow: visible;
}
.gridTableRowFullEdit, .gridTableRowFullEdit td {
  white-space: nowrap;
  overflow: visible;
}
.gridTableRow td, .gridTableRowFull td, .gridTableRowFullEdit td {
/* uncomment this to fix the font size
  font-size: 12px;
*/
  vertical-align: top;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding-left: 4px;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 0px;
}
.gridAuto {
  width: 180px;
}
.objInfo {
  margin-top: 2px;
  margin-bottom: 2px;
}
.gridColTypeCheck, td.gridColTypeCheck {
  white-space: nowrap;
  overflow: visible;
  width: 20px;
  padding-left: 1px;
  padding-right: 1px;
}
.gridColTypeIcon, td.gridColTypeIcon {
  width: 17px;
  padding-left: 0px;
  padding-right: 0px;
}
.gridColTypeIconEdit, td.gridColTypeIconEdit {
  width: 17px;
  padding-left: 0px;
  padding-right: 0px;
}
.gridColTypeIcon-3, td.gridColTypeIcon-3 {
  /*
  width: 49px;
  */
  white-space: nowrap;
  overflow: visible;
  padding-left: 0px;
  padding-right: 0px;
}
.gridColTypeIconEdit-3, td.gridColTypeIconEdit-3 {
  /*
  width: 49px;
  */
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;
}
.gridColTypeDate, td.gridColTypeDate {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11.5em;
}
.gridColTypeNormal, td.gridColTypeNormal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gridColTypeWide, .gridColTypeWide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
}
.gridColTypeNarrow, td.gridColTypeNarrow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 15em;
}

.opFieldGroupName {
  text-align: left;
  text-decoration: none;
  font-size: 9px;
}
.opFieldGroup {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2px;
  empty-cells: hide;
}
.fieldGroupName {
  text-align: left;
  text-decoration: none;
  font-size: 9px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}
.fieldGroup {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2px;
  empty-cells: hide;
}
.fieldGroup td {
  padding-right: 4px;
}
.label {
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: top;
  padding-top: 0.15em;
  width: 12em;
  overflow: hidden;
}
.nw {
  white-space: nowrap;
}

.field {
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fieldSpanned {
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;
  overflow: auto;
  text-overflow: ellipsis;
}

.fieldSpannedFull {
  white-space: normal;
  width: 100%;
  font-weight: normal;
  vertical-align: middle;
  word-wrap: normal;
  overflow: visible;
}

textarea {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  margin: 0px -1px 0px 0px;
  font-weight: bold;
  width: 100%;
  word-wrap: normal;
}
textarea.stringLocked {
  width: 100%;
  margin: 0px -1px 0px 0px;
  white-space: nowrap;
  word-wrap: normal;
}
textarea.multiString {
  width: 100%;
  margin: 0px -1px 0px 0px;
  word-wrap: normal;
}
textarea.multiStringLocked {
  width: 100%;
  margin: 0px -1px 0px 0px;
  word-wrap: normal;
}
.valuePicture {
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.valueMulti {
  text-decoration: none;
  vertical-align: middle;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.valueString {
  text-decoration: none;
  vertical-align: middle;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.valueL, .valueLG {
  border-style: solid;
  padding: 0px 1px 0px 1px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
.valueL {
  border-width: 1px;
  margin-right: -1px;
  font-weight: bold;
  overflow: hidden;
}
.valueLG {
  border-width: 0px;
  margin-right: 0px;
  overflow: visible;
}
.valueLLocked {
  border-style: solid;
  border-width: 1px;
  padding: 0px 1px 0px 1px;
  margin-right: -1px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.valueR, .valueRG {
  border-style: solid;
  padding: 0px 1px 0px 1px;
  text-align: right;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.valueR {
  border-width: 1px;
  margin-right: -1px;
  font-weight: bold;
}
.valueRG {
  border-width: 0px;
  margin-right: 0px;
}
.valueRLocked {
  border-style: solid;
  border-width: 1px;
  padding: 0px 1px 0px 1px;
  margin-right: -1px;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}
input.valueL, input.valueR {
  width: 100%;
  padding: 1px 0px 1px 0px;
  margin: 0px;
  font-size: 1em; /* IE bug - see http://www.aplus.co.yu/css/tip-input-sizing-in-ie/ */
}
input.valueLG, input.valueRG {
  padding: 0px 1px 0px 0px;
  margin: 0px;
  vertical-align: top;
  font-size: 1em; /* IE bug - see http://www.aplus.co.yu/css/tip-input-sizing-in-ie/ */
}
select.valueL, select.valueR {
  width: 100%;
  padding: 0px;
  margin-bottom: 1px;
}
.valueEmpty {
}
.addon {
  vertical-align: baseline;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 4px;
  text-align: left;
  text-decoration: none;
  width: 40px;
  white-space: nowrap;
  overflow: visible;
}
.gap {
  vertical-align: baseline;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 4px;
  text-align: left;
  text-decoration: none;
  width: 18px;
  white-space: nowrap;
  overflow: visible;
}

form {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.filterTable {
  table-layout: auto;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 1px;
  width: 100%;
}
.filterTable tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}
.gridSplit {
  table-layout: auto;
  border-collapse: collapse;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.gridSplit tr td {
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
.popUp {
  border-style: ridge;
  border-width: 2px;
  padding: 5px;
  overflow: visible; /*required by Netscape/Mozilla*/
  position: absolute;
}
.popUpFrame {
  border-style: none;
  border-width: 0px;
  overflow: auto; /*required by Netscape/Mozilla*/
  position: absolute;
}
.popUpTable {
  width: 390px;
  border-collapse: collapse;
}
.fieldindex {
  width: 30px;
}
.fieldselection {
  width: 50px;
}
.fieldvalue {
  width: 300px;
}
.popUpButton, .popUpButtonhover {
  cursor: pointer;
}
.qualifierPanel {
  border-style: solid solid solid solid;
  border-width: 1px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden; /*required by Netscape/Mozilla*/
  position: relative;
  z-index: 20;
}
.qualifierText {
  text-align: left;
  text-decoration: none;
  font-size: smaller;
}
.qualifier {
  border-style: solid;
  border-width: 1px;
  padding: 0px 1px 0px 1px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  overflow: visible;
  white-space: nowrap;
  width: 50%;
}

.dragable:hover {
  cursor: pointer;
}
.divImgPopUp {
  border-style: ridge;
  border-width: 1px;
  padding: 0px;
  margin: 0px;
  overflow: visible; /*required by Netscape/Mozilla*/
  position: absolute;
  z-index: 200;
}
.popUpImg {
  border-style: none;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
.picture {
  border: none black 0px;
  overflow: hidden;
  height: 100%;
}
.hh1 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 0px;
}
.hh2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 0px;
}
.normal {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
}

.autocomplete {
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
  white-space: nowrap;
  position: absolute;
  z-order: 500;

}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:12px;
  cursor:pointer;
}
