a {
  text-decoration: none;
  color: #EC8D00;
}

a:hover {
  color: #FF9900;
}

.node {
    text-align:center;
}

html, body {
	background-color:#1D1D20;
	height:100%;
	width:100%;
	margin: 0; padding: 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	overflow:hidden;
}

#viscontainer {
    margin:0 auto;
    position:relative;
}

#left-container,
#right-container,
#center-container {
    position:absolute;
    top:0;
}

#left-container {
	width:250px;
	height:100%;
	float:left;
	margin:0;
	font-family:Tahoma;
	font-size:12px;
	color: white;
}

#left-container DIV {
    position:relative;
}

#left-container .contained-item {
	width:100%;
	height:100%;
	padding:2px;
}

.inner ul {
	list-style:none;
	padding:0px;
}

.inner ul li {
	padding:1px 5px;
}

.inner ul li .relation {
	font-size:10px;
	text-indent:10px;
	font-style:italic;
	margin:5px 0;
}

.toggler {
  padding: 5px 0 5px 5px;
  border-bottom:1px solid #444;
}

#right-container {
    right:0;
    display:none;
}

#center-container {
    left:250px;
    width: 100%;
    height: 100%;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    left: 260px;
    font-size:1.0em;
    font-weight:bold;
    color:#444;
}

#infovis {
	width:100%;
	height:100%;
	float:left;
    position:relative;
    margin:auto;
    overflow:hidden;
}