<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/openMDX 2 ~ Test Core (jre-1.8)/src/java/test/openmdx/kernel/log/TestWithStandardFileHandler.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.openmdx.kernel.log.StandardFileHandlerTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openMDX 2 ~ Test Core (jre-1.8)"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.protocol.handler.pkgs=org.openmdx.kernel.url.protocol&#10;-Duser.timezone=${openmdx-test.core.timezone}&#13;-Dorg.openmdx.comp.env.jdbc.DataSource=${openmdx-test.core.datasource}"/>
</launchConfiguration>
