<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openMDX 2 ~ Test Core (jre-1.8)/src/java/test/openmdx/kernel/log/VerifyLogLocation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.openmdx.kernel.log.VerifyLogLocation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openMDX 2 ~ Test Core (jre-1.8)"/>
</launchConfiguration>
