<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openMDX 2 ~ Test Core (Scala)/src/scala/test_scala/cache/CacheTest.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test_scala.cache.CacheTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openMDX 2 ~ Test Core (Scala)"/>
</launchConfiguration>
